name: Image build

on:
  push:
    branches:
      - main
      - Release
  schedule:
    - cron: '0 0 * * 0' # Every Sunday at midnight
  
env:
  LATEST: 4.0.6
  
jobs:
  docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        tags: [main, 4.0.6, 4.1.0-beta.4]

    steps:
      - name: Checkout
        if: github.event_name == 'schedule'
        uses: actions/checkout@v4
        with:
          ref: Release

      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set tag
        id: tag-builder
        run: |
          temptag="nemric/transmission:${{ matrix.tags }}" 
          if [ "${{ matrix.tags }}" == $LATEST ]; then
            temptag="${temptag}, nemric/transmission:latest"
          fi
          echo "IMAGETAG=${temptag}" >> "$GITHUB_OUTPUT"
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: ${{ github.ref_name == 'Release' || github.event_name == 'schedule' }}
          load: ${{ github.ref_name != 'Release' && github.event_name != 'schedule' }}
          build-args: BRANCH=${{ matrix.tags }}
          tags: ${{ steps.tag-builder.outputs.IMAGETAG }}
          file: ./Containerfile
